/*
; Styles applied to the auth-layout element to maintain the flex tree
; http://blog.bogdancarpean.com/how-to-apply-flex-on-angular-component/
*/
:host {
  display: flex;
  flex-direction: row;
  flex-basis: 75%;
  align-content: center;
  place-content: center;
}
