<div fxLayout="row" fxLayoutAlign="space-around center">
  <form [formGroup]="loginForm" (ngSubmit)="login()" fxFlex="1 1 50%">
    <!-- define the material card -->
    <mat-card>
      <!-- define the header for the card -->
      <mat-card-header>
        <!-- add a material toolbar to the header -->
        <mat-toolbar>
          Login to nodebucket
        </mat-toolbar>
      </mat-card-header>

      <!-- define the material card content -->
      <mat-card-content>
        <!-- define the user name input -->
        <mat-form-field>
          <input type="text" matInput placeholder="Enter your id" [formControl]="loginForm.controls['empId']" />
          <mat-error *ngIf="loginForm.controls['empId'].hasError('required')">Id is required</mat-error>
        </mat-form-field>
      </mat-card-content>

      <!-- define the container for the buttons -->
      <mat-card-actions>
        <div fxFlex></div>
        <button mat-raised-button type="submit">Login</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>