<!-- define the material card -->
<mat-card>
  <mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="column" fxLayoutAlign="center center">
      <h1 class="font welcome">Welcome to nodebucket</h1>
    </mat-toolbar-row>
    <mat-toolbar-row fxLayout="column" fxLayoutAlign="center center">
      <span class="font tagLine">Keeping track of your work has never been easier!</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <form [formGroup]="loginForm" (ngSubmit)="login(); loginForm.reset()">
    <!-- define the material card content -->
    <mat-card-content style="padding-top:25px;">
      <!-- define the id input -->
      <mat-form-field class="font">
        <!-- define the empId input and set focus automatically-->
        <input
          type="text"
          matInput
          placeholder="Please enter your ID"
          [formControl]="loginForm.controls['empId']"
          autofocus
        />
        <!-- validation error -->
        <mat-error *ngIf="loginForm.controls['empId'].hasError('required')">Id is required</mat-error>
      </mat-form-field>
    </mat-card-content>

    <!-- define the container for the buttons -->
    <mat-card-actions>
      <!-- custom logo for bLabWare -->
      <img src="../../../assets/bLabWare-small.png" title="Brought to you by bLabWare">

      <div fxFlex></div>
      <button mat-raised-button type="submit" class="font">Login</button>
    </mat-card-actions>
  </form>
</mat-card>
