<div fxLayout="column">
  <!-- navigation -->
  <nav fxFlex>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <!-- logo -->
        <button class="font logo" routerLink="/" mat-button>nodebucket</button>
        <button class="font navbar-link" routerLink="/" mat-button>Home</button>
        <button class="font navbar-link" mat-button routerLink="about">About</button>
        <!-- spacer to push buttons to the right -->
        <div fxFlex></div>
        <!-- login button displayed if the user is not logged in -->
        <button
          class="font navbar-link"
          mat-icon-button
          (click)="login()"
          *ngIf="!isUserLoggedIn"
        >
          <!-- add an icon to the button using fontawesome -->
          <mat-icon fontSet="fas" fontIcon="fa-sign-in-alt" inline title="Login"></mat-icon>
        </button>
        <!-- display the logged in user name -->
        <span style="font-size: 1rem !important;">{{ currentUser.firstName }} {{ currentUser.lastName }}</span>

        <!-- display the logout button if the user is logged in -->
        <button
          class="navbar-link"
          mat-icon-button
          (click)="logOut()"
          *ngIf="isUserLoggedIn"
        >
          <!-- add an icon to the button using fontawesome -->
          <mat-icon fontSet="fas" fontIcon="fa-sign-out-alt" inline title="Logout"></mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </nav>

  <!-- main content -->
  <main fxFlex>
    <router-outlet></router-outlet>
  </main>

  <!-- footer -->
  <footer class="footer" fxFlex fxLayout="row" fxLayoutAlign="start center">
    <mat-toolbar class="font footer-content" color="accent" fxFlex>
      <p>
        &copy; {{ year | date: "yyyy" }} - nodebucket -
        <a href="https://www.bellevue.edu/" class="bu-link" target="_blank">Bellevue University</a>
      </p>
      <!-- spacer to push buttons to the right -->
      <div fxFlex></div>
      <!-- custom logo for bLabWare -->
      <img src="../../../assets/bLabWare-small.png" title="Brought to you by bLabWare" style="width: 38px;height: 34px;margin-block-start: 1rem;padding-right:1rem;">
    </mat-toolbar>
  </footer>
</div>
