<div fxLayout="column">
  <!-- navigation -->
  <nav fxFlex>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <!-- logo -->
        <button class="logo" routerLink="/" mat-button>nodebucket</button>
        <button class="navbar-link" routerLink="/" mat-button>Home</button>
        <button class="navbar-link" mat-button>About</button>
        <div fxFlex></div>
        <button
          class="navbar-link"
          mat-icon-button
          (click)="login()"
          *ngIf="!isUserLoggedIn"
        >
          <mat-icon fontSet="fas" fontIcon="fa-sign-in-alt" inline title="Login"></mat-icon>
        </button>
        <span *ngIf="isUserLoggedIn">Welcome {{ currentUser.firstName }}</span>
        <button
          class="navbar-link"
          mat-icon-button
          (click)="logOut()"
          *ngIf="isUserLoggedIn"
        >
          <mat-icon fontSet="fas" fontIcon="fa-sign-out-alt" inline title="Logout"></mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </nav>

  <!-- main content -->
  <main fxFlex>
    <router-outlet></router-outlet>
  </main>

  <!-- footer -->
  <footer class="footer" fxFlex>
    <mat-toolbar class="footer-content" color="accent">
      <p>
        &copy; {{ year | date: "yyyy" }} - nodebucket -
        <a href="https://www.bellevue.edu/" class="bu-link" target="_blank">Bellevue University</a>
      </p>
      <div fxFlex></div>
      <img src="../../../assets/bLabWare-small.png" title="Brought to you by bLabWare">
    </mat-toolbar>
  </footer>
</div>
