<div fxLayout="column">
  <!-- navigation -->
  <nav fxFlex>
    <mat-toolbar>
      <mat-toolbar-row>
        <!-- logo -->
        <button class="logo" routerLink="/" mat-button>nodebucket</button>
        <button class="navbar-link" routerLink="/" mat-button>Home</button>
        <button class="navbar-link" mat-button>About</button>
        <div fxFlex></div>
        <button class="navbar-link" mat-icon-button (click)="login()" *ngIf="!isUserLoggedIn">
          <mat-icon fontSet="fas" fontIcon="fa-sign-in-alt" inline></mat-icon>
        </button>
        <span *ngIf="isUserLoggedIn">Welcome {{currentUser.firstName}}</span>
        <button class="navbar-link" mat-icon-button (click)="logOut()" *ngIf="isUserLoggedIn">
          <mat-icon fontSet="fas" fontIcon="fa-sign-out-alt" inline></mat-icon>
        </button>        
      </mat-toolbar-row>
    </mat-toolbar>
  </nav>

  <!-- main content -->
  <main fxFlex>
    <router-outlet></router-outlet>
  </main>

  <!-- footer -->
  <div fxFlex>
    <footer class="footer">
      <mat-toolbar class="footer-content">
        <p>
          &copy; {{ year | date: "yyyy" }} - nodebucket -
          <a href="https://www.bellevue.edu/" class="bu-link" target="_blank"
            >Bellevue University</a
          >
        </p>
      </mat-toolbar>
    </footer>
  </div>
</div>
