/*
; the angular material theme is included in the angular.json global styles list
; @angular/material/prebuilt-themes/deeppurple-amber.css
*/

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Muli, Roboto, "Open Sans", "sans serif" !important;
  min-height: 100vh;
}

/*
; font style to override theme font
*/
.font {
  font-family: Muli, Roboto, "Open Sans", "sans serif" !important;
}

